# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
bin/
dependency-reduced-pom.xml
.factorypath

# Others
derby.log
work/
/.apt_generated/
/.apt_generated_tests/
