sudo: required

dist: xenial

language: java

services:
  - docker

env:
  - JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-amd64

# Run before every job
before_install:
  - sudo apt-get update
  - sudo apt-get install -y openjdk-8-jdk
  - PATH=$(echo "$PATH" | sed -e 's/:\/usr\/local\/lib\/jvm\/openjdk11\/bin//')
  - java -version
  - uname -a
  - chmod +x pom.xml

stages:
  - test
  - name: report_coverage
  # We can only run the coverage report due to security restrictions see
  # https://docs.travis-ci.com/user/pull-requests/#pull-requests-and-security-restrictions
    if: type != pull_request

jobs:
  include:
    - stage: test
      name: unitAndFunctionalTests
      script:
        - mvn test
    - stage: test
      name: integrationTests
      script: skip
    - stage: report_coverage
      name: report_coverage
      # Generating test coverage report and publishing to Codacy
      script:
      # Fetching converter for converting coverage report to Codacy format
        - sudo apt-get install jq
        - curl -LSs $(curl -LSs https://api.github.com/repos/codacy/codacy-coverage-reporter/releases/latest | jq -r '.assets | map({content_type, browser_download_url} | select(.content_type | contains("application/java-archive"))) | .[0].browser_download_url') -o codacy-coverage-reporter-assembly.jar
        - mvn cobertura:cobertura -B
        - java -jar codacy-coverage-reporter-assembly.jar report -l Java -r target/site/cobertura/coverage.xml

